@import '../../global_styles/';

.search-bar {
    z-index: 1;

    //-->center with position absolute
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    //--------------

    height: 1px;
    min-height: fit-content;
    width: 1px;
    min-width: fit-content;
    opacity: 0.4;
    transition: opacity 4s;

    &:hover {
        opacity: 1;
        transition: opacity 0.5s;
    }
    &:focus-within {
        opacity: 1;
    }

    input {
        // z-index: 0;

        width: 50vw;
        height: 5rem;
        font-size: 2rem;
        font-family: 'Merriweather', serif;
        padding: 1rem 2rem;
        margin: 3rem 1rem;
        color: navy;
        // background: rgb(245, 245, 244);
        background: none;
        border: 2px solid rgb(63, 52, 26);
        border-radius: 25px;
        box-shadow: 0 0 15px whitesmoke;

        &:focus {
            outline: none;
        }
    }

    .auto-complete {
        z-index: -1;
        //-->center with position absolute
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        //--------------

        width: 50vw;
        height: 5rem;
        font-size: 2rem;
        line-height: normal;
        padding: 1rem 2rem;
        margin: 3rem 1rem;
        color: rgb(78, 78, 92);
        background: rgb(245, 245, 244);
        border: 2px solid rgb(63, 52, 26);
        border-radius: 25px;
        box-shadow: 0 0 15px whitesmoke;
    }

    button {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 3px inset goldenrod;
        background-image: $bronze;
        font-size: 3rem;
        color: rgb(163, 118, 3);
        // text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.349),
        //     1px 1px 1px rgba(0, 0, 0, 0.274);

        transition: all 1s;

        &:hover {
            cursor: pointer;
            color: rgb(209, 179, 103);
            background: rgb(255, 225, 148);
        }

        &:focus {
            outline: none;
            transform: scale(1.1);
            transition: all 0.5s;
            color: rgb(209, 179, 103);
            background: rgb(255, 225, 148);
        }
    }
}
